body
{
    background-color:#2C2F33;
}
#frat-title
{
    color: rgb(255, 255, 255);
    font-family: "Cantarell";
    font-weight: 100;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    text-align: center;
    border-bottom: 3px solid #bbb;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.navigation
{
    color: rgb(255, 255, 255);
    font-family: "Ubuntu";
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-size: 2.0em;
    font-weight: 100%;
}
#title-page
{
    color: rgb(255, 255, 255);
    font-family: "Cantarell";
    font-weight: bold;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.about-content
{
    color: rgb(255, 255, 255);
    font-family: "Ubuntu";
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-size: 1.20em;
}
.letters
{
    color: rgb(255, 255, 255);
    font-family: "Cantarell";
    font-weight: bold;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    text-align: center;
}
#navigation
{
    height: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    display: inline-grid;
    border: 2px solid rgb(255, 255, 255);
    grid-template-rows: 50%;
    grid-template-columns: 9% 22% auto;
}

#crest-img
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: stretch;
    align-self: start;
    height: 100px;
}
#top-text-section
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: inline-grid;
    grid-template-rows: 50% auto;
    grid-template-columns: auto;
}
#top-text
{
    margin-left: 8%;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center; 
    align-self: end; 
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu";
}
#bottom-text
{
    justify-self: center;
    margin-left: 8%;
    border-top: 2px solid rgb(255, 255, 255);
    margin-top: 1%;
    color: rgb(255, 255, 255);
    font-family: "Ubuntu";
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    font-size: 1.4em;
}